/build
# Android/Gradle
.gradle/
build/
**/build/
libs
shared/
# UnityLibrary build output
unityLibrary/
unityLibrary/build/
release
# Ignorar archivos AAB y APK
*.aab
*.apk

# Ignorar carpeta de release dentro de cualquier módulo
**/release/
